[Desktop Entry]
Name=WmSun
Comment=Sun Rise and Set Times
Comment[pl]=Czasy wschodu i zachodu Słońca 
Exec=wmSun
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
