[Desktop Entry]
Name=WmSun
Comment=Sun Rise and Set Times
Comment[pl]=Czasy wschodu i zachodu Słońca 
Exec=wmSun
Terminal=false
Type=Application
Encoding=UTF-8
NotShowIn=GNOME;KDE;
Categories=X-Docklet;Calendar;
# vi: encoding=utf-8
