[Desktop Entry]
Name=wmSun
Comment=Sun Rise and Set Times
Comment[pl]=Czasy wschodu i zachodu Słońca 
Exec=wmSun
Terminal=0
Type=Application
# vi: encoding=utf-8
